.app-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-title {
  display: flex;
  height: 40vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  position: sticky;
  top: 1rem;
  background: var(--bs-white);
  padding: 1rem;
  border-radius: var(--bs-border-radius);
  box-shadow: var(--bs-box-shadow);
  z-index: 100;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: var(--bs-light);
  padding: 1rem;
  border-radius: var(--bs-border-radius);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.post-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-title.uppercase {
  text-transform: uppercase;
}

.loading {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.visible {
  opacity: 1;
}

.icon-lg {
  font-size: 24px;
}

.icon-star {
  transition: all 0.3s ease-in-out;
}

.icon-star.fill {
  color: var(--bs-warning);
}
